<div class="the-cat">
    <img class="the-cat-img" src="the_cat.png" [width]="catWidth">
    <p>
        Level: {{ level }}
    </p>
    <p>
        Bellyful: {{ currentBellyful }} / {{ bellyfulCapacity }}
    </p>
    <p>
        Respect income: {{ respectIncome }}
    </p>
    <p>
        Sausages eaten total: {{ sausagesEaten }}
    </p>
</div>