.events-log {
    position: absolute;
    right: 3%;
    top: 50%;
    width: 20%;
    height: 45%;
    overflow: auto;
    font-family: monospace;
    font-size: 1em;
    background-color: #eeeeee;
    padding: 1em;
}

[class^="event-record"] {
    color: black;
    margin: 0;
    padding: 0;
}

.event-record__warning {
    color: brown;
    font-weight: bold;
}

.event-record__achievement {
    color: green;
    font-weight: bold;
}