<div class="cat-kingdom">
    <shop (buy-sausages)="onBuySausages($event)"></shop>
    <fridge></fridge>
    <respect-block></respect-block>
    <the-cat
        (click)="onCatClicked()"
    ></the-cat>
    <events-log></events-log>
</div>