<div class="fridge">
    <img class="fridge-img" src="fridge.jpeg">
    <div class="fridge-info">
        <p>
            Level: {{ level }}
        </p>
        <p>
            <strong>Sausages available: {{ sausagesCount }} / {{ capacity }} </strong>
        </p>
        <button
                [disabled]="!canUpgrade"
                (click)="upgrade()"
        >
            {{ upgradeButtonLabel }}
        </button>
    </div>
</div>