.fridge {
    position: absolute;
    left: 50%;
    display: inline-block;
}

.fridge-img {
    width: 150px;
    height: auto;
    display: inline-block;
}

.fridge-info {
    display: inline-block;
}